@media (max-width: 767px) {
    main {
        margin-top: 67px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    main {
        margin-top: 97px;
    }
}

@media (min-width: 1200px) {
    main {
        margin-top: 135px;
    }
}