header {
    position: fixed;
    top: 0px;
    width: 100%;

    background: white;
}

nav {
    height: 40px;
    background: black;
}

nav * {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}